---
title: "Notti Allergy Care Duck Salmon: Third-Party Lab Test Results"
url: "https://nottipetfood.com/blogs/news/notti-allergy-care-duck-salmon-third-party-lab-test-results"
date: "2026-09-18"
author: "ke yee yap"
feed_url: "https://nottipetfood.com/blogs/news.atom"
---
Guaranteed Analysis: Committed to Nutritional Excellence Vitamin, Mineral, Oxidation & Toxicity Test The test results show that our dog kibble is fresh, safe and nutritionally suitable for healthy dogs, with very low oxidation and healthy levels of essential minerals and vitamins. No harmful mould toxins were detected, giving you peace of mind with every meal. Heavy Metal Test The levels of heavy metals including Arsenic, Mercury, and Lead in Allergy Care Duck Salmon dog kibble are well within the safety thresholds established by the National Research Council (NRC) and the Association of Ameri
